<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Se for arquivo ou pasta existente, serve normalmente
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Caso contrário, redireciona tudo pro index.php
  RewriteRule ^ index.php [L]
</IfModule>