@use "fonts";

html {
  min-height: 100vh;

  body {
    min-height: 100vh;
    font-family: fonts.$primary-font;

    #app {
      min-height: 100vh;

      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;

      main {
        flex: auto;
      }
    }
  }
}
