@for $i from 1 through 9 {
  $weight: $i * 100;

  .fw-#{$weight} {
    font-weight: $weight !important;
  }
}

@for $i from 8 through 30 {
  .fs-#{$i}px {
    font-size: #{$i}px !important;
  }
}

.w-content {
  width: fit-content !important;
}

.flex-auto {
  flex: auto !important;
}

.left-0 {
  left: 0px !important;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
  }
}
