@use "sass:color";

/* Cores do tema */
$theme-colors: (
  "primary": #ceae74,
  "secondary": #ccd4da,
  "tertiary": #103955,
  "white": #ffffff,
);

/* Cores secundárias */
$colors: (
  "link-color": #02a38e,
  "link-hover-color": #02a38e,
);

/* Root */
:root {
  --bs-border-radius: 0.275rem;
}

/* Funções */
@function toRGB($color) {
  @return "#{color.channel($color, 'red')}, #{color.channel($color, 'green')}, #{color.channel($color, 'blue')}";
}

/* Atribuir cores ao :root */
:root {
  @each $name, $color in $theme-colors {
    --bs-#{$name}: #{$color};
    --bs-#{$name}-rgb: #{toRGB($color)};
  }

  @each $name, $color in $colors {
    --bs-#{$name}: #{$color};
    --bs-#{$name}-rgb: #{toRGB($color)};
  }
}

/* Atribuir cores aos botões */
@each $name, $color in $theme-colors {
  .btn-#{$name} {
    --bs-btn-color: #fff;
    --bs-btn-bg: #{$color};
    --bs-btn-border-color: #{$color};
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #{rgba($color, 0.8)};
    --bs-btn-hover-border-color: #{rgba($color, 0.8)};
    --bs-btn-focus-shadow-rgb: #{toRGB($color)};
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #{rgba($color, 0.7)};
    --bs-btn-active-border-color: #{rgba($color, 0.7)};
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #{$color};
    --bs-btn-disabled-border-color: #{$color};
  }
  .btn-outline-#{$name} {
    --bs-btn-color: #{$color};
    --bs-btn-border-color: #{$color};
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #{$color};
    --bs-btn-hover-border-color: #{$color};
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #{$color};
    --bs-btn-active-border-color: #{$color};
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #{$color};
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #{$color};
    --bs-gradient: none;
    --bs-btn-border-width: 2px;
  }
}
